:root{
    --PRIMARY-COLOR : #106900;
    --SECONDARY-COLOR-1: #070069;
    --SECONDARY-COLOR-2: #692700;
    --SECONDARY-COLOR-3: #52BE3F;
    --SECONDARY-COLOR-4: #E8A074;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Lato";
    font-size: 14px;
    color: white;
}
html{
    background-color: var(--PRIMARY-COLOR);
}
header{
    text-align: center;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
    text-align: center;
}
p{
    font-size: 1.5rem;
    text-align: center;
}
#score{
    font-size: 1.5rem;
}
#score-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#trashbin {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 50px;
}
#trash{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 80%;
    margin: 50px auto 0 auto;
    flex-wrap: wrap;
}
.trash{
    height: 150px;
}
#restart{
    padding-right: 10px;
    padding-left: 10px;
    width: max-content;
    color: black;
    font-weight: bold;
}
/*############################*/
/*###     MEDIA QUERIES    ###*/
/*############################*/
@media screen and (max-width: 969px) {
    h2{
        font-size: 1.2rem;
    }
    #commentaire{
        font-size: 1rem;
    }
    .trashbin{
        width: 140px;
    }
    #trashbin{
        flex-wrap: wrap;
    }
    img[alt="poubelle bleu"]{
        content: url(assets/trash-little-blue.png)
    }
    img[alt="poubelle verte"]{
        content: url(assets/trash-little-green.png)
    }
    img[alt="poubelle jaune"]{
        content: url(assets/trash-little-yellow.png)
    }
    img[alt="poubelle marron"]{
        content: url(assets/trash-little-brown.png)
    }
    .trash{
        height: 75px;
    }
    
}
